# 忽略以下文件和目录
node_modules/    # 忽略Node.js依赖模块目录
dist/            # 忽略打包输出目录，通常是打包后的生产文件
.cache/          # 忽略开发工具生成的缓存文件目录
.env             # 忽略环境变量文件
*.log            # 忽略日志文件
.DS_Store        # 忽略macOS系统生成的隐藏文件
.git
